/* Main */
body {
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

*:focus {
    outline: none;
}

/* Explore */

/*
Search Bar
 */
.wd-explore-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-search {
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: rgb(33, 35, 39);

    border: 0 solid transparent;
    border-radius: 20px;

}

.wd-search button .glass {
    font-size: 14px;
    color: rgb(110, 117, 125);
}

#search-bar {
    background: transparent;
    border: 0 solid transparent;
    width: 90%;

    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", sans-serif;
}

#search-bar::placeholder {
    color: rgb(110, 117, 125);
}

.wd-button {
    background: transparent;
    border: 0 solid transparent;
    padding: 20px;
}

.wd-explore-top .gear {
    font-size: 20px;
    padding-right: 12px;
    color: rgb(20, 161, 242);
}

/*
Links
 */

.wd-links {
    display: flex;
    width: 100%;
}

.wd-links ul {
    display: flex;
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    border-bottom: 2px solid rgb(47, 51, 54);

}

.wd-links ul li {
    font-size: 15px;
    padding: 16px 16px 0;
    font-weight: bold;

}

#active {
    color: rgb(20, 161, 242);
    padding-left: 0;

}

#active::after {
    content: "";
    float: left;
    background-color: rgb(20, 161, 242);
    width: 100%;
    height: 3px;
    margin-top: 16px;
    border-radius: 3px;
}

#last {
    padding-right: 0;
}

.wd-seperator {
    width: 100%;
    height: 12px;
    background-color: rgb(19, 21, 25);
    margin: 0;
}

.wd-bottom {

}

h4, h2, h3, p {
    font-weight: normal;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    letter-spacing: 0.25px;
}

.wd-trend-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid rgb(47, 51, 54);

    padding: 15px;

}

.wd-trend-box i {
    color: rgb(110, 118, 125);
    font-size: 16px;
}

.wd-inner-wd-trend-box {
    display: flex;
    font-weight: lighter;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.wd-no-count {
    justify-content: flex-start;
}

.wd-trend-title, .trend-day {
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 10px;
    color: rgb(110, 118, 125);

}

.wd-heading {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
    color: white;

}

.wd-tuit-count {
    font-size: 13px;
    padding-bottom: 10px;
    color: rgb(110, 118, 125);
}

.wd-trend-title-bold {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
    color: white;
}

.wd-trend-title-bold .fa-circle-check {
    color: white;
    padding-left: 5px;
    padding-right: 5px;

}

.wd-trend-box img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}


/* Bookmarks */
.wd-bookmark-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(110, 118, 125);
}

.wd-bookmark-header-inner #wd-bookmark-heading {
    padding: 0;
    font-weight: bold;
    font-size: 20px;

}

.wd-bookmark-header-inner p {
    padding: 0;
    font-size: 13px;
    color: rgb(110, 118, 125);

}

#blue-elip {
    display: flex;
    align-items: center;
    color: rgb(20, 161, 242);
}

.wd-bookmark {
    display: flex;
    align-items: flex-start;

}

.wd-bookmark-main {
    display: flex;
    flex-direction: column;
}

.wd-bookmark-text {
    width: 100%;
    padding-bottom: 20px;
}

.wd-bookmark-text div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}


.wd-bookmark-author {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 13px;
}

.wd-handler {
    font-weight: normal;
    color: rgb(110, 118, 125);
}

#wd-gray-elip {
    color: rgb(110, 118, 125);
}

.wd-bookmark .wd-bookmark-profile {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
}
.wd-bookmark-paragraph {
    font-size: 15px;
    font-weight: normal;
    color: white;
    letter-spacing: 0.35px;
    line-height: 1.5;
}

.wd-bookmark-img {
    width: 100%;
    border: 1px solid rgb(110, 118, 125);
    border-radius: 20px;
}

.wd-bookmark-img p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    line-height: 1.5;
    color: rgb(110, 118, 125);
}

.wd-bookmark-img .wd-title {
    color: white;
    padding-bottom: 0;
    padding-top: 15px;
}

.wd-bookmark-img img {
    height: 264px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.wd-stats {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.wd-stats span i {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-stats span {
    width: 40px;
    color: rgb(110, 118, 125);
    font-weight: normal;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-stats .wd-pink {
    color: #f33853;
}